@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* common styles  */
.btn-primary {
  background-color: #ff900e;
  color: #ffffff;
  padding: 20px 25px;
  font-size: 1.25rem;
  border-radius: 8px;
  border: none;
}
.flex {
  display: flex;
}
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}
.dark-1 {
  font-size: 45px;
  font-weight: 700;
  color: rgba(19, 19, 19, 1);
}
.dark-2 {
  font-size: 18px;
  font-weight: 500;
  color: rgba(66, 66, 66, 1);
}
.dark-3 {
  font-size: 16px;
  font-weight: 400;
  color: rgba(114, 114, 114, 1);
}
.middle {
  max-width: 1440px;
  margin: 0 auto;
}
/* nav-styles  */
#navbar {
  justify-content: space-between;
  margin-bottom: 50px;
  padding-top: 50px;
}
.menu-items {
  list-style: none;
  align-items: center;
}
.menu-items li {
  margin-right: 30px;
}
.menu-items a {
  text-decoration: none;
}
/* banner info  */
.banner-info {
  max-width: 860px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}
.banner-info > * {
  margin-bottom: 30px;
}
.banner-info h1 {
  font-size: 4rem;
  text-align: center;
}
.banner-info p {
  text-align: center;
}
.banner-img {
  padding-bottom: 45px;
}

/* responsiveness  */
/* small device  */

/* tablet device  */
